@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-en: 'EB Garamond';
    --font-ko: 'Gowun Batang';
    --font-zh-hans: 'Noto Serif SC', 'Noto Serif CJK SC';
    --font-zh-hant: 'Noto Serif TC', 'Noto Serif CJK TC';
    --mblue: #a5c1ff;
    --mdark: #1428a0;
  }

  html {
    font-family: var(--font-en), var(--font-ko), var(--font-zh-hans), var(--font-zh-hant), serif;
  }
  .section-title {
    @apply text-4xl font-semibold relative inline-block;
  }
  .section-title::after {
    content: '';
    @apply absolute left-0 -bottom-3 h-[3px] w-full origin-left scale-x-100 bg-[--mblue];
  }
  .ww-wrap 
  {
    @apply w-full max-w-[1300px] mx-auto;
  }
  .ss-wrap 
  {
    @apply w-full max-w-[1200px] mx-auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8da6b9;
  border-radius: 9999px;
}
body {
  font-size: 16px;
  min-height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ol,
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: none;
}
